.sidenav {
    height: 100dvh;

    position: fixed;
    right: 0;
    top: 0;

    padding: 15px;

    box-shadow: 0 0 20px gray;
    background-color: $sidenav-background-color;

    &__buttons {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__btn {
        @include border;
        @include flex-full-center;

        width: $sidenav-btn-size;
        height: $sidenav-btn-size;
        padding: 5px;

        user-select: none;

        transition: scale .3s ease,
                    background-color .2s ease-out;

        &:hover {
            scale: 0.9;
            background-color: $accent-color;

            &>.sidenav__link::before {
                @include border;

                content: attr(data-name);

                display: block;
                padding: 15px 30px;

                background-color: $accent-color;
                color: $text-second-color;

                position: absolute;
                top: 50%;
                right: 150%;
                transform: translate(-10px, -50%);
            }
        }
    }

    &__link {
        @include flex-full-center;

        width: $sidenav-btn-size / 2;
        height: $sidenav-btn-size / 2;

        position: relative;
    }

    &__img {
        @include full-parent-size;

        display: block;
    }
}