// Функция, преобразующая значение в число
// без единиц измерения
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}


// ====================================================
// Функция для создания адаптивного шрифта
//
// Параметры:
//   $pc-font-size - Размер на больших экранах (в px или rem).
//   $mobile-font-size - Размер на мобильных устройствах (в px или rem).
//
// Пример использования:
//   .text {
//     font-size: adaptive-font-size(16px, 14px);
//   }
//
// Описание:
// Эта функция вычисляет и применяет адаптивный шрифт.
// Она учитывает разницу между размерами на больших и мобильных экранах, преобразует
// их в px, если необходимо, и применяет стили с использованием calc для вычисления
// адаптивного размера в зависимости от ширины экрана.
// ====================================================
@function adaptive-font-size($pc-font-size, $mobile-font-size) {
    // Вычисление разницы между размерами шрифта на больших и мобильных экранах
    $add-size: $pc-font-size - $mobile-font-size;
    
    // Проверка и преобразование разницы в px, если она задана в rem
    @if (unit($add-size) == px) {
        $add-size: strip-unit($add-size);
    }

    @if (unit($add-size) == rem) {
        $add-size: strip-unit($add-size) * $font-size-base;
    }

    // Возвращение вычисленного значения
    @return calc(#{$mobile-font-size} + #{strip-unit($add-size)} * ((100dvw - #{$screen-width-min + px}) / (#{$screen-width-max} - #{$screen-width-min})));
}