.history {

    &>.container {
        @include border;

        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            row-gap: $grid-gap;
            width: 90%;

            &>* {
                width: 100%;
            }
        }
    }

    &__content, &__picture {
        width: 45%;
        overflow: hidden;
    }

    &__text::first-line {
        font-weight: 700;
    }

    &__images {
        width: 100%;

        display: flex;

        animation: slider 15s ease-in-out 0s infinite;
    }

    &__img {
        width: 100%;
        flex-shrink: 0;

        img {
            @include full-parent-size;
        }
    }
}