.history {

    &>.container {
        @include border;

        display: flex;
    }

    &__content, &__picture {
        width: 50%;
    }

    &__img {
        width: 100%;
        // height: 100%;
    }
}