body {
    font-family: $font-main;
    font-size: $font-size-base;
    color: $text-color;
}

main>section {
    margin-top: $grid-gap;
}

.container {    
    width: min(100% - $gap-from-sidenav, $container-width);
    height: 100%;
    margin-inline: auto;
    transform: translateX(-0.5 * $gap-from-sidenav + $grid-gap / 2);
    padding: $grid-gap;

    @media screen and (max-width: 1000px) {
        transform: none;
    }

    @media screen and (max-width: 800px) {
        width: 90%;
    }
}

h1 {
    $pc-font-size: $font-size-extra;
    $mobile-font-size: $font-size-extra-mobile;

    font-size: adaptive-font-size($pc-font-size, $mobile-font-size);
}

h2 {
    $pc-font-size: $font-size-medium;
    $mobile-font-size: $font-size-medium-mobile;

    font-size: adaptive-font-size($pc-font-size, $mobile-font-size);

    &::first-letter {
        $pc-font-size: $font-size-big;
        $mobile-font-size: $font-size-big-mobile;

        font-size: adaptive-font-size($pc-font-size, $mobile-font-size);
    }
}

li {
    $pc-font-size: $font-size-medium;
    $mobile-font-size: $font-size-medium-mobile;

    font-size: adaptive-font-size($pc-font-size, $mobile-font-size);
}

p, a {
    $pc-font-size: $font-size-main;
    $mobile-font-size: $font-size-main-mobile;

    font-size: adaptive-font-size($pc-font-size, $mobile-font-size);
}