/* Reset and base styles  */
@import "../fonts/CormorantInfant/stylesheets.css";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Cormorant Infant", sans-serif;
  font-size: 25px;
  color: #000000;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1 {
  font-size: calc(1.2rem + 170 * (100dvw - 280px) / (1920 - 280));
}

h2 {
  font-size: calc(0.6rem + 35 * (100dvw - 280px) / (1920 - 280));
}
h2::first-letter {
  font-size: calc(1.2rem + 70 * (100dvw - 280px) / (1920 - 280));
}

li {
  font-size: calc(0.6rem + 35 * (100dvw - 280px) / (1920 - 280));
}

p, a {
  font-size: calc(0.6rem + 10 * (100dvw - 280px) / (1920 - 280));
}

.sidenav {
  height: 100dvh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
  background-color: #FFFFFF;
}
.sidenav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.sidenav__btn {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: scale 0.3s ease, background-color 0.2s ease-out;
  transition: scale 0.3s ease, background-color 0.2s ease-out;
}
.sidenav__btn:hover {
  scale: 0.9;
  background-color: #8D4545;
}
.sidenav__btn:hover > .sidenav__link::before {
  border: 1px solid black;
  content: attr(data-name);
  display: block;
  padding: 15px 30px;
  background-color: #8D4545;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 150%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
}
.sidenav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}
.sidenav__img {
  width: 100%;
  height: 100%;
  display: block;
}