/* Reset and base styles  */
@import "../fonts/CormorantInfant/stylesheets.css";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Cormorant Infant", sans-serif;
}

html {
  font-size: 25px;
  color: #000000;
}

main > section {
  margin-top: 40px;
}
main > section:last-of-type {
  margin-bottom: 40px;
}

.container {
  width: min(100% - 130px, 1500px);
  height: 100%;
  margin-inline: auto;
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .container {
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}

h1 {
  font-size: calc(1.2rem + 170 * (100dvw - 280px) / (1920 - 280));
}

h2 {
  font-size: calc(0.6rem + 35 * (100dvw - 280px) / (1920 - 280));
}
h2::first-letter {
  font-size: calc(1.2rem + 70 * (100dvw - 280px) / (1920 - 280));
}

li {
  font-size: calc(0.6rem + 35 * (100dvw - 280px) / (1920 - 280));
}

p, a {
  font-size: calc(0.6rem + 10 * (100dvw - 280px) / (1920 - 280));
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  66% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}
@-webkit-keyframes stages-slider {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  25% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  50% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  62.5% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  75% {
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
  87.5% {
    -webkit-transform: translateY(-600%);
            transform: translateY(-600%);
  }
  100% {
    -webkit-transform: translateY(-700%);
            transform: translateY(-700%);
  }
}
@keyframes stages-slider {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  25% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  50% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  62.5% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
  75% {
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
  87.5% {
    -webkit-transform: translateY(-600%);
            transform: translateY(-600%);
  }
  100% {
    -webkit-transform: translateY(-700%);
            transform: translateY(-700%);
  }
}
.sidenav {
  height: 100dvh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 15px;
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
  .sidenav {
    right: auto;
    left: 0;
    height: auto;
    width: 100%;
  }
}
.sidenav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 1000px) {
  .sidenav__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.sidenav__btn {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: scale 0.3s ease, background-color 0.2s ease-out;
  transition: scale 0.3s ease, background-color 0.2s ease-out;
}
.sidenav__btn > .sidenav__link::before {
  border: 1px solid black;
  content: attr(data-name);
  display: none;
  padding: 15px 30px;
  background-color: #8D4545;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 150%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
}
.sidenav__btn:hover {
  scale: 0.9;
  background-color: #8D4545;
}
@media screen and (min-width: 1001px) {
  .sidenav__btn:hover > .sidenav__link::before {
    display: block;
  }
}
.sidenav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}
.sidenav__img {
  width: 100%;
  height: 100%;
  display: block;
}

.model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.model__info {
  position: absolute;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 45px;
}
.model__info:hover::before, .model__info:hover::after {
  width: 100%;
}
.model__info::before, .model__info::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000000;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.model__info::before {
  top: 0;
  left: 0;
}
.model__info::after {
  bottom: 0;
  right: 0;
}
.model__name {
  text-align: center;
  margin-bottom: 20px;
}
.model__text {
  text-align: center;
}
.model__text::first-letter {
  font-weight: 700;
}
.model__photo {
  border: 1px solid black;
  width: 60%;
  height: clamp(600px, 30dvh, 800px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.model__photo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.model:nth-of-type(2n - 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 1000px) {
  .model:nth-of-type(2n - 1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.model:nth-of-type(2n - 1) .model__info {
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}
@media screen and (max-width: 1000px) {
  .model:nth-of-type(2n - 1) .model__info {
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 1000px) {
  .model {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .model .model__info, .model .model__photo {
    width: 100%;
  }
  .model .model__info {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .model .model__photo {
    height: auto;
  }
}

.header {
  width: 100%;
  height: 100dvh;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .header {
    margin-top: 130px;
  }
}
.header:hover .header__title {
  color: #FFFFFF;
}
.header:hover .header__background {
  height: 100%;
}
.header__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  letter-spacing: 0.66em;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.header__btn, .header a.header__btn {
  background-color: #8D4545;
  color: #FFFFFF;
  padding: 1.6em 5.2em;
  border-radius: 20px;
  position: relative;
  -webkit-transition: scale 0.3s ease-in, -webkit-filter 0.2s ease;
  transition: scale 0.3s ease-in, -webkit-filter 0.2s ease;
  transition: scale 0.3s ease-in, filter 0.2s ease;
  transition: scale 0.3s ease-in, filter 0.2s ease, -webkit-filter 0.2s ease;
}
.header__btn:hover, .header a.header__btn:hover {
  scale: 1.05;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.header__btn::before, .header__btn::after, .header a.header__btn::before, .header a.header__btn::after {
  content: "";
  background: url("../img/ButtonDeco.svg") center/contain no-repeat;
  height: 110%;
  aspect-ratio: 101/127.75;
  position: absolute;
  top: 0;
}
.header__btn::before, .header a.header__btn::before {
  right: 100%;
  -webkit-transform: rotateY(180deg) translateX(-20px);
          transform: rotateY(180deg) translateX(-20px);
}
.header__btn::after, .header a.header__btn::after {
  left: 100%;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.header__background {
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.header__background > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.history > .container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .history > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }
  .history > .container > * {
    width: 100%;
  }
}
.history__content, .history__picture {
  width: 45%;
  overflow: hidden;
}
.history__text::first-line {
  font-weight: 700;
}
.history__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slider 15s ease-in-out 0s infinite;
          animation: slider 15s ease-in-out 0s infinite;
}
.history__img {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.history__img img {
  width: 100%;
  height: 100%;
}

.stages .container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stages__title {
  text-align: center;
}
.stages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 150px;
  overflow: hidden;
}
.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  min-height: 150px;
  -webkit-animation: stages-slider 10s ease-in-out 0s infinite;
          animation: stages-slider 10s ease-in-out 0s infinite;
}
.stages__icon {
  height: 0.6em;
}
.stages__text {
  font-size: calc(0.6rem + 10 * (100dvw - 280px) / (1920 - 280));
}
.stages__years {
  opacity: 0.6;
}

.models > .container {
  border: 1px solid black;
}
.models__variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}